button {
  grid-column: 3/4;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;

  .icon__moon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -2rem;
  }
}

.profile__border--link {
  background-color: var(--ui-element);
  padding: 4px 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px #0000001f;
}
