.home {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 3rem;

  .search__form {
    grid-column: 1/2;
  }
  .select__form {
    grid-column: 3/4;
  }
  .countries {
    grid-column: 1/-1;
  }
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 3.52fr);
  grid-auto-rows: 336px;
  gap: 3vw;
}

.resultNotFound {
  height: calc(100vh - 278px);
  color: var(--text-color);
}
