h2 {
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0em;
  margin-bottom: 1.8125rem;
  align-self: flex-end;
}

h1 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: 0.01em;
  grid-column: 1/2;

  @media screen and (min-width: 29.0625em) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 46.5em) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 1.875rem;
  letter-spacing: 0.01em;

  @media screen and (min-width: 33.75em) {
    font-size: 1rem;
  }
  @media screen and (min-width: 37.5em) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 51.125em) {
    font-size: 1rem;
  }
  @media screen and (min-width: 69.75em) {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    letter-spacing: 0em;
  }
}

p {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1875rem;
  letter-spacing: 0em;

  span {
    font-weight: 300;
  }
}
p[class^="card__sub"] {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5625rem;
  letter-spacing: -0.02em;

  @media screen and (min-width: 33.75em) {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.1875rem;
    letter-spacing: 0em;
  }
  @media screen and (min-width: 37.5em) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 51.125em) {
    font-size: 0.875rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button,
h1,
h2,
h3,
p,
a {
  color: var(--text-color);
}

.isLoading {
  grid-column: 1/-1;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__text,
  &__icon {
    color: var(--input-element);
  }

  &__icon {
    width: 4rem;
    animation: rotate360 5s infinite;
  }
}
.isNetworkError {
  grid-column: 1/-1;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}
