.app {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  @media screen and (max-width: 78.125em) {
    grid-template-columns: 1fr 14fr 1fr;
  }
  @media screen and (max-width: 72.625em) {
    grid-template-columns: 1fr 15fr 1fr;
  }
  @media screen and (max-width: 72em) {
    grid-template-columns: 1fr 20fr 1fr;
  }
  @media screen and (max-width: 69.75em) {
    grid-template-columns: 1fr 9fr 1fr;
  }
  @media screen and (max-width: 58.625em) {
    grid-template-columns: 1fr 20fr 1fr;
  }
  @media screen and (max-width: 33.75em) {
    grid-template-columns: 1fr 15fr 1fr;
  }
  @media screen and (max-width: 29.0625em) {
    grid-template-columns: 1fr 21fr 1fr;
  }
}

.header {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: inherit;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 1.5rem 0;
  background-color: var(--ui-element);
  box-shadow: 0px 2px 8px 0px #00000014;
}

nav {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}
